<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SevenMark Bridge Editor - Playground</title>
</head>

<body>
    <script type="module">
        import init, * as sm_bridge from "./sm_bridge.js";
        const saveBtn = document.getElementById("save-button");
        async function run() {
            await init();
            // 전역에서 editor_support.js 가 참조할 수 있도록 등록
            Object.entries(sm_bridge).forEach(([key, value]) => {
                if (key !== "default") {
                    window[key] = value;
                    console.log(`registered ${key}`);
                }
            });
            //폭조절 사용여부
            //window.cm_use_sep_handle_line = true;

            sm_editor_injecter("editor-container");
            const savedCode = localStorage.getItem("code");
            const layzyload = setInterval(() => {
                if (savedCode && window.cm_instances && window.cm_instances.length > 0) {
                    window.set_editor_text(savedCode);
                    clearInterval(layzyload);
                }
            }, 100);

            window.addEventListener("keydown", (e) => {
                if ((e.key === "s" || e.key === "S") && (e.ctrlKey || e.metaKey)) {
                    e.preventDefault();
                    if (saveBtn) {
                        saveBtn.click();
                    }
                }
            })

        }
        run();
        // 전역 추출 함수 정의
        window.setMyText = () => {
            // editor_support.js에 있는 get_editor_text 함수를 호출
            if (typeof window.get_editor_text === "function") {
                let text = window.get_editor_text();
                localStorage.setItem("code", text);
                const originalText = saveBtn.innerText;
                saveBtn.innerText = "저장됨";
                setTimeout(() => {
                    saveBtn.innerText = originalText;
                }, 1000);
            } else {
                console.error("추출 함수가 로드되지 않았습니다.");
            }
        };
        window.getMyText = (set) => {
            if (typeof window.set_editor_text === "function") {
                let lsGetText = localStorage.getItem("code");
                window.set_editor_text(lsGetText);
            } else {
                console.error("불러올수 없음");
            }
        }
    </script>

    <button onclick="window.setMyText()" id="save-button">텍스트 저장</button>
    <div id="editor-container"></div>
</body>

</html>