<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SevenMark Bridge Editor - Playground</title>
</head>

<body>
    <script type="module">
        import init, { sm_editor_injecter, cm_highlighter, sm_render_block, get_crate_info } from "./sm_bridge.js";

        async function run() {
            await init();
            // 전역에서 editor_support.js 가 참조할 수 있도록 등록
            window.cm_highlighter = cm_highlighter;
            window.sm_renderer = sm_render_block;
            window.get_crate_info = get_crate_info;

            sm_editor_injecter("editor-container");
            const savedCode = localStorage.getItem("code");
            const layzyload = setInterval(() => {
                if (savedCode && window.cm_instances && window.cm_instances.length > 0) {
                    window.set_editor_text(savedCode);
                    clearInterval(layzyload);
                }
            }, 100);

        }
        run();
        // 전역 추출 함수 정의
        window.setMyText = () => {
            // editor_support.js에 있는 get_editor_text 함수를 호출
            if (typeof window.get_editor_text === "function") {
                let text = window.get_editor_text();
                localStorage.setItem("code", text);
            } else {
                console.error("추출 함수가 로드되지 않았습니다.");
            }
        };
        window.getMyText = (set) => {
            if (typeof window.set_editor_text === "function") {
                let lsGetText = localStorage.getItem("code");
                window.set_editor_text(lsGetText);
            } else {
                console.error("불러올수 없음");
            }
        }
    </script>

    <button onclick="window.setMyText()">텍스트 저장</button>
    <div id="editor-container"></div>
</body>

</html>